@model Category

@{
    ViewBag.Title = "D";
    Layout = null;
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 class="modal-title">Delete Phone</h3>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="modal-body">
        <div class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-md-4">Logo </label>
                <div class="col-md-4">
                    <img src="/content/img/icons/@Model.Icon" class="img-logo img-thumbnail" />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-4">ID </label>
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.Id, new { @class = "form-control required", @disabled = "disabled" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-4">NameTH </label>
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.NameVN, new { @class = "form-control required", @disabled = "disabled" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-4">Name </label>
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control required", @disabled = "disabled" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-4">Image</label>
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.Image, new {@class = "form-control required", @disabled = "disabled"})
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-9 col-sm-offset-3">
                    <h3>
                        <span class="label label-danger">
                            Are you sure to delete this ?
                        </span>
                    </h3>
                </div>
            </div>
        </div>
    </div>
            

    <div class="modal-footer">
        <button class="btn btn-primary" data-dismiss="modal">No</button>
        <input class="btn btn-danger" type="submit" value="Yes" />
    </div>
}




