@model Category

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div class="form-horizontal">

    <div class="form-group">
        <label class="control-label col-md-3">Logo </label>
        <div class="col-md-4">
            <img src="/content/img/icons/@Model.Icon" class="img-logo"/>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-3">ID </label>
        <div class="col-md-4">
            @Html.TextBoxFor(model => model.Id, new { @class = "form-control required", @disabled = "disabled" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-3">NameTH </label>
        <div class="col-md-4">
            @Html.TextBoxFor(model => model.NameVN, new { @class = "form-control required", @disabled = "disabled" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-3">Name </label>
        <div class="col-md-4">
            @Html.TextBoxFor(model => model.Name, new { @class = "form-control required", @disabled = "disabled" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-3">Image</label>
        <div class="col-md-4">
            @Html.TextBoxFor(model => model.Image, new { @class = "form-control required", @disabled = "disabled" })
        </div>
    </div>
</div>
<p>
    
    @Html.ActionLink("Back to List", "Index")
</p>
