

@{
    ViewBag.Title = "Index";
}

<ol class="breadcrumb">
    <li>
        <i class="fa fa-dashboard"></i> <a href="/Admin/Home">Dashboard</a>
    </li>
    <li>
        <i class="fa fa-heart"></i> Management
    </li>
    <li class="active">
        <i class="fa fa-table"></i> Category
    </li>
</ol>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-responsive table-bordered" id="myTable">
    <thead>
        <tr>
            <th>Id</th>
            <th>NameTH</th>
            <th>Name</th>
            <th>Image</th>
            <th>Icon</th>
            <th></th>

        </tr>
    </thead>

    <tbody>
        @foreach (Category c in ViewBag.Categories)
        {
            <tr>
                <td>@c.Id</td>
                <td>@c.NameVN</td>
                <td>@c.Name</td>
                <td>@c.Image</td>
                <td>
                    <img class="img-responsive" src="/Content/img/Icons/@c.Icon" width="50" height="25" />
                </td>
                <td>
                    <a href="/Admin/Categories/Details/@c.Id" title="Detail"><img src="/Content/img/icons/Search.png" /></a>
                    <a href="/Admin/Categories/Edit/@c.Id" title="Edit"><img src="/content/img/icons/Edit.png" /></a>
                    <a href="/Admin/Categories/Delete/@c.Id" title="Delete"><img src="/Content/img/icons/Trash.png" /></a>
                </td>


            </tr>
        }
    </tbody>
</table>
