@{
    ViewBag.Title = "Index";
}

<ol class="breadcrumb">
    <li>
        <i class="fa fa-dashboard"></i> <a href="/Admin/Home">Dashboard</a>
    </li>
    <li>
        <i class="fa fa-heart"></i> Management
    </li>
    <li class="active">
        <i class="fa fa-table"></i> Category
    </li>
</ol>

<p>
    @Html.ActionLink("Create New", "Create", null ,new { @class = "btn btn-success animated tada" })
</p>
<div class="row">
    <div class="box col-md-12">
        <div class="box-inner">
            <div class="box-header well">
               
            </div>
            <div class="box-content">
                <table class="table table-responsive table-bordered" id="myTable">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>NameTH</th>
                            <th>Name</th>
                            <th>Image</th>
                            <th>Icon</th>
                            <th></th>

                        </tr>
                    </thead>

                    <tbody>
                        @foreach (Category c in ViewBag.Categories)
                        {
                            <tr>
                                <td>@c.Id</td>
                                <td>@c.NameVN</td>
                                <td>@c.Name</td>
                                <td>@c.Image</td>
                                <td>
                                    <img class="img-responsive" src="/Content/img/Icons/@c.Icon" width="50" height="25" />
                                </td>
                                <td class="center">
                                    <a href="/Admin/Categories/Details/@c.Id" title="Detail" class="btn btn-success">
                                        <i class="fa fa-search icon-white"></i> Detail
                                    </a>
                                    <a href="/Admin/Categories/Edit/@c.Id" title="Edit" class="btn btn-info">
                                        <i class="fa fa-edit"></i> Edit
                                    </a>
                                    <a href="/Admin/Categories/Delete/@c.Id" title="Delete" class="btn btn-danger">
                                        <i class="fa fa-trash-o"></i> Delete
                                    </a>
                                </td>


                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!--/span-->

</div><!--/row-->
