@model Product

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div class="form-horizontal">

    <div class="form-group">
        <label class="control-label col-md-3">Image </label>
        <div class="col-md-4">
            <img src="/Content/img/products/@Model.Image" class="img-thumbnail" width="200" height="225"/>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-3">ImageZoom </label>
        <div class="col-md-4">
            @Html.TextBoxFor(model => model.ImageLarge, new { @class = "form-control required", @disabled = "disabled" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-3">ID </label>
        <div class="col-md-4">
            @Html.TextBoxFor(model => model.Id, new { @class = "form-control required", @disabled = "disabled" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-3">Name </label>
        <div class="col-md-4">
            @Html.TextBoxFor(model => model.Name, new { @class = "form-control required", @disabled = "disabled" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-3">Price</label>
        <div class="col-md-4">
            @Html.TextBoxFor(model => model.UnitPrice, new {@class = "form-control required", @disabled = "disabled"})
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-3">UnitBrief</label>
        <div class="col-md-4">
            @Html.TextBoxFor(model => model.UnitBrief, new {@class = "form-control required", @disabled = "disabled"})
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-3">ProducttDate</label>
        <div class="col-md-4">
            @Html.TextBoxFor(model => model.ProductDate, new {@class = "form-control required", @disabled = "disabled"})
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-3">CategorID</label>
        <div class="col-md-4">
            @Html.TextBoxFor(model => model.Category.Name, new {@class = "form-control required", @disabled = "disabled"})
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-3">SupplierID</label>
        <div class="col-md-4">
            @Html.TextBoxFor(model => model.Supplier.Name, new {@class = "form-control required", @disabled = "disabled"})
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-3">Quantity in Stock</label>
        <div class="col-md-4">
            @Html.TextBoxFor(model => model.Quantity, new {@class = "form-control required", @disabled = "disabled"})
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-3">Discount</label>
        <div class="col-md-4">
            @Html.TextBoxFor(model => model.Discount , new {@class = "form-control required", @disabled = "disabled"})
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-3">Features</label>
        <div class="col-md-4">
            @Html.CheckBoxFor(m => m.Available ,new {@class="check-box", @disabled = "disabled"}) @Html.LabelFor(m => m.Available)
            @Html.CheckBoxFor(m => m.Special ,new { @class = "check-box", @disabled = "disabled" }) @Html.LabelFor(m => m.Special)
            @Html.CheckBoxFor(m => m.Latest, new { @class = "check-box", @disabled = "disabled" }) @Html.LabelFor(m => m.Latest)
            
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-3">Views</label>
        <div class="col-md-4">
            @Html.TextBoxFor(model => model.Views, new {@class = "form-control required", @disabled = "disabled"})
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-3">Description</label>
        <div class="col-md-4">
            @Html.TextBoxFor(model => model.Description, new { @class = "form-control required", @disabled = "disabled" })
        </div>
    </div>
</div>
<p>
   
    @Html.ActionLink("Back to List", "Index")
</p>
