<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/AdminContent/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="@Url.Content("/Areas/AdminTheme/Content/plugins/morris.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("/Areas/AdminTheme/Content/font-awesome-4.1.0/css/font-awesome.min.css")" rel="stylesheet" type="text/css"/>
    <link href="~/Areas/AdminTheme/Content/plugins/dataTables.bootstrap.css" rel="stylesheet" />
</head>

<body>
    <div id="wrapper">
        @*@Html.Action("Navbar", "Navbar", new { controller = ViewContext.RouteData.Values["Controller"].ToString(), action = ViewContext.RouteData.Values["Action"].ToString() })*@
        @Html.Partial("_Navbar")
        <div id="page-wrapper">
            @RenderBody()
        </div>
    </div>
    <!-- /#wrapper -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Content/js/jquery-ui.js"></script>
    <script src="~/Areas/AdminTheme/Scripts/plugins/jquery.dataTables.js"></script>
    <script src="~/Areas/AdminTheme/Scripts/plugins/dataTables.bootstrap.min.js"></script>
    @RenderSection("scripts", required: false)
   
    
<script type="text/javascript">
    $(document).ready(function() {
        $('#myTable').DataTable();
    });
</script>

</body>
</html>