<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body>
    <div id="fb-root"></div>

    <div class="container whiteBackground">
        <header class="nn-header">
           <div class="col-md-4 col-sm-6 pull-right">
                @Html.Partial("_Search")
            </div><!--end search box-->
            
        </header>

        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".js-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-home "></span></a>
            </div>


            <div class="navbar-collapse collapse js-navbar-collapse">
                @if (!Request.IsAuthenticated)
                {
                    @Html.Partial("_Menu")
                }
                else
                {
                    @Html.Partial("_MenuUser")
                }
           </div>
        </div><!--end navigation-->
        <div class="container row">
            <div class="col-md-3 col-sm-3 col-lg-3 col-xs-12">
                @Html.Partial("_CartInfo")
                @Html.Action("Category", "Home")
                <div class="hidden-xs">
                @Html.Action("Saleoff", "Home")
                @Html.Action("Special", "Home")
                @Html.Partial("_Adbanner")
                </div>
            </div><!--end left-sidebar-->
            <div class="col-md-9 col-sm-9 col-lg-9 col-xs-12">
                @RenderBody()
            </div>
        </div>
        <div class="ma-footer-static">
            @Html.Partial("_Footer")
        </div>
    </div>


   

    <link href="~/Content/css/jquery-ui.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-ui.js"></script>
   
    @RenderSection("scripts", required: false)

    <!--Auto Complete-->
<script>
    // search มาจาก id ของ input
    $(function() {
        $("#search").autocomplete({
            source: "/Home/Search", /* controller/action */
            minlength: 2
        });
    })
</script>


<script>
    //Shopping Cart
    $(function () {
        $(".add-to-cart").click(function () {
            pid = $(this).attr("data-id");
            $.ajax({
                url: "/Cart/Add",
                data: {id: pid},
                success: function (response) {
                    $("#nn-cart-count").html(response.Count);
                    $("#nn-cart-total").html(response.Total);
                }
            });

            //CartEffect
            cssfly = ".fly-effect {background:url(?);background-size:100% 100%;}";
            src = $("#i" + pid).attr("src");
            newcssfly = cssfly.replace("?", src);
            $("#cart-fly").html(newcssfly);

            options = { to: "#nn-cart-image", className: "fly-effect" };
            $("#i"+pid).effect("transfer", options, 500, function () { });
        });
    });
</script>

    <style id="cart-fly">
        .fly-effect {
            background-size: 100% 100%;
        }
    </style>

</body>
</html>
