
@{
    ViewBag.Tiitle = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-responsive table-bordered" id="myTable">
    <thead>
    <tr>
        <th>OrderId</th>
        <th>Customer</th>
        <th>OrderDate</th>
        <th>RequireDate</th>
        <th>Receiver</th>
        <th>ราคารวมทั้งสิ้น</th>
        <th></th>
    </tr>
    </thead>

    <tbody>
    @foreach (Order o in ViewBag.Orders)
    {
        <tr>
            <td>@o.Id</td>
            <td>@o.CustomerId</td>
            <td>@o.OrderDate</td>
            <td>@o.RequireDate</td>
            <td>@o.Receiver</td>
            <td>@o.Amount</td>
            <td>
                <a href="/Admin/Orders/Details/@o.Id" title="Detail"><img src="/Content/img/icons/Search.png"/></a>
                <a href="/Admin/Orders/Edit/@o.Id" title="Edit"><img src="/content/img/icons/Edit.png"/></a>
                <a href="/Admin/Orders/Delete/@o.Id" title="Delete"><img src="/Content/img/icons/Trash.png"/></a>
            </td>
        </tr>
    }
    </tbody>
</table>
