@model Supplier

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 class="modal-title">Phone Detail</h3>
</div>

<div class="modal-body">
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <img src="@Model.Logo" alt="@Model.Logo image" class="img-thumbnail" />
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Id, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Id, new {@class = "form-control", @disabled = "disabled"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Name, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Name, new {@class = "form-control", @disabled = "disabled"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Email, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new {@class = "form-control", @disabled = "disabled"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Phone, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Phone, new { @class = "form-control", @disabled = "disabled" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @Html.ActionLink("Cancel", "Index", null, new {@class = "btn btn-warning"})
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" data-dismiss="modal">Close</button>
</div>