@model Supplier

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div class="form-horizontal">

    <div class="form-group">
        <label class="control-label col-md-3">Logo </label>
        <div class="col-md-4">
            <img src="/content/img/suppliers/@Model.Logo" class="img-logo img-thumbnail" />
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-3">ID </label>
        <div class="col-md-4">
            @Html.TextBoxFor(model => model.Id, new { @class = "form-control required", @disabled = "disabled" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-3">Name </label>
        <div class="col-md-4">
            @Html.TextBoxFor(model => model.Name, new { @class = "form-control required", @disabled = "disabled" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-3">E-Mail </label>
        <div class="col-md-4">
            @Html.TextBoxFor(model => model.Email, new { @class = "form-control required", @disabled = "disabled" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-3">Tel</label>
        <div class="col-md-4">
            @Html.TextBoxFor(model => model.Phone, new { @class = "form-control required", @disabled = "disabled" })
        </div>
    </div>
</div>
<p>
  
    @Html.ActionLink("Back to List", "Index")
</p>
