

@{
    ViewBag.Title = "Index";
}


<div class="navbar-right">
    @Html.ActionLink("Add", "create", null, new { @class = "btn btn-info" })

</div><br/><br/>

<table class="table table-responsive table-bordered" id="myTable">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Logo</th>
        <th></th>

    </tr>
    </thead>

    <tbody>
    @foreach (Supplier s in ViewBag.Suppliers)
    {
        <tr>
            <td>@s.Id</td>
            <td>@s.Name</td>
            <td>@s.Email</td>
            <td>@s.Phone</td>
            <td>
                <img class="img-responsive" src="/Content/img/suppliers/@s.Logo" width="120" height="100"/>
            </td>
            <td>
                <a href="/Admin/Suppliers/Details/@s.Id" title="Detail"><img src="/Content/img/icons/Search.png" /></a>
                <a href="/Admin/Suppliers/Edit/@s.Id" title="Edit"><img src="/content/img/icons/Edit.png" /></a>
                <a href="/Admin/Suppliers/Delete/@s.Id" title="Delete"><img src="/Content/img/icons/Trash.png" /></a>
            </td>


        </tr>
    }
    </tbody>
</table>


