

@{
    ViewBag.Title = "Index";
}


<div class="navbar-right">
    @Html.ActionLink("Add", "create", null, new { @class = "btn btn-info" })

</div><br/><br/>

<table class="table table-responsive table-bordered" id="myTable">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Logo</th>
        <th></th>

    </tr>
    </thead>

    <tbody>
    @foreach (Supplier s in ViewBag.Suppliers)
    {
        <tr>
            <td>@s.Id</td>
            <td>@s.Name</td>
            <td>@s.Email</td>
            <td>@s.Phone</td>
            <td>
                <img class="img-responsive" src="/Content/img/suppliers/@s.Logo" width="120" height="100"/>
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {id = s.Id}, new {@class = "btn btn-warning"})
                @Html.ActionLink("Delete", "Delete", new {id = s.Id}, new {@class = "btn btn-danger"})
                @Html.ActionLink("Details", "Details", new {id = s.Id}, new {@class = "btn btnModal"})
            </td>


        </tr>
    }
    </tbody>
</table>

@Scripts.Render("~/bundles/modalform")

<script type="text/javascript">


    $(function () {
        $.ajaxSetup({ cache: false });

        $("btnModal").on("click", function (e) {
            // hide dropdown if any (this is used wehen invoking modal from link in bootstrap dropdown )
            //$(e.target).closest('.btn-group').children('.dropdown-toggle').dropdown('toggle');

            $('#myModalContent').load(this.href, function () {
                $('#myModal').modal({
                    /*backdrop: 'static',*/
                    keyboard: true
                }, 'show');
                bindForm(this);
            });
            return false;
        });
    });

    function bindForm(dialog) {
        $('form', dialog).submit(function () {
            $.ajax({
                url: this.action,
                type: this.method,
                data: $(this).serialize(),
                success: function (result) {
                    if (result.success) {
                        $('#myModal').modal('hide');
                        $('#replacetarget').load(result.url); //  Load data from the server and place the returned HTML into the matched element
                    } else {
                        $('#myModalContent').html(result);
                        bindForm(dialog);
                    }
                }
            });
            return false;
        });
    }
</script>
