@model IEnumerable<ReportInfo>
@{
    ViewBag.Title = "Index";
}

<style>
    .ui-datepicker .ui-datepicker-title select {
    color: #000;
}
</style>

<ol class="breadcrumb">
    <li>
        <i class="fa fa-dashboard"></i> <a href="/Admin/Home">Dashboard</a>
    </li>
    <li class="active">
        <i class="fa fa-dollar"></i> รายได้
    </li>
</ol>

@using (Html.BeginForm()){
    <fieldset class="form-inline">
        <legend>รายได้</legend>
        
        @Html.TextBox("Min", null, new {@class = "form-control col-md-2", @placeholder = "From" })
        
        @Html.TextBox("Max", null, new { @class = "form-control col-md-2", @placeholder = "To" })
        <input type="submit" value="View" class="btn btn-primary animated tada col-md-2" />
    </fieldset>
}


<div class="row">
    <div class="box col-md-12">
        <div class="box-inner">
            <div class="box-header well"></div>
            <div class="box-content">
                <table class="table table-bordered" id="myTable">
                    <thead>
                    <tr>
                        <th>Group</th>
                        <th>Count</th>
                        <th>Sum</th>
                        <th>Min Price</th>
                        <th>Max Price</th>
                        <th>Avg Price</th>
                    </tr>
                    </thead>

                    <tbody>
                        @foreach (var r in Model)
                        {
                            <tr>
                                <td>
                                    @r.Group @if (r.iGroup != 0)
                                    {@r.iGroup}
                                </td>
                                <td>@r.Count</td>
                                <td>@Html.FormatValue(r.Sum, "{0:c}")</td>
                                <td>@Html.FormatValue(r.Min, "{0:c}")</td>
                                <td>@Html.FormatValue(r.Max, "{0:c}")</td>
                                <td>@Html.FormatValue(r.Avg, "{0:c}")</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!--/span-->

</div>

<hr />

<div id="piechart_3d" style="width: 900px; height: 500px;"></div>

@section scripts{
    <script>
        $(function () {
            $("fieldset #Min, fieldset #Max").datepicker({
                dateFormat: 'yy-mm-dd',
                changeMonth: true,
                changeYear: true,
                yearRange:"2005:2020"
            });
        });
    </script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
    google.load("visualization", "1", { packages: ["corechart"] });
    google.setOnLoadCallback(drawChart);
    function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Loai', 'Doanh so'],
          @foreach (var r in Model)
          {
              <text>["@r.Group", @r.Sum],</text>
          }
            ]);

        var options = {
            title: 'กราฟ',
            is3D: true,
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart_3d'));
        chart.draw(data, options);
    }
    </script>

}