@model IEnumerable<Category>
@{
    ViewBag.Title = "Home";

}

<div class="nn-home-banner">
    @Html.Partial("_Banner")
</div>
<!--end home banner-->

@foreach (var c in Model)
{
    var item = c.Products
            .OrderBy(p => Guid.NewGuid())
            .ToList()
            .Take(4);
    <div class="nn-block-margin-top30px">
        <div class="nn-cat-title">
            <p>
                <i class="glyphicon glyphicon-tag"></i>
                <h2>@c.Name</h2>
            </p>
        </div>

        @foreach (var p in item)
        {
            <div>
                <div class="col-md-3">
                    <div class="nn-product-box">
                        <a href="/Product/Detail/@p.Id">
                            <img class="img-responsive" src="/Content/img/products/@p.Image" />
                        </a>
                        <div class="nn-product-box-descriptions">
                            <h3 class="nn-product-box-name">
                                <a href="http://newsmartwave.net/magento/legenda/index.php/fashion-jacket-386.html" title="@p.Name">@p.Name</a>
                            </h3>
                            <div class="nn-product-box-price ">
                                <span class="">฿ @p.UnitPrice</span>
                            </div>
                            <div class="nn-product-box-actions">
                                <button type="button" class="btn btn-info blue add-to-cart" title="Add to Cart" data-id="@p.Id">
                                    <span>เพิ่มลงตะกร้า</span>
                                </button>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        }
    </div>
    <div class="clearfix"></div>
}




@section scripts{
    <script>
        $(function() {
            $(".add-to-cart").click(function() {
                pid = $(this).attr("data-id");
                $.ajax({
                    url: "/Cart/Add",
                    data: { id: pid },
                    success: function(response) {
                        alert("เพิ่มสินค้าลงในตะกร้าเรียบร้อยค่ะ");
                        $("#nn-cart-count").html(response.Count);
                        $("#nn-cart-total").html(response.Total);
                    }
                });

                // hieu ung bay vao gio
                cssfly = ".fly-effect {background:url(?);background-size:100% 100%;}";
                src = $("#i" + pid).attr("src");
                newcssfly = cssfly.replace("?", src);
                $("#cart-fly").html(newcssfly);

                options = { to: "#nn-cart-image", className: "fly-effect" };
                $("#i" + pid).effect("transfer", options, 500, function() {});
            });
        });
    </script>

}