@using ShoppingComplex.Models



@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-responsive table-bordered" id="myTable">
    <thead>
    <tr>
        <td>Id</td>
        <td>Password</td>
        <td>CustomerName</td>
        <td>E-mail</td>
        <td>Address</td>
        <td>Tel.</td>
        <td></td>
    </tr>
    </thead>
    <tbody>
        @foreach (Customer c in ViewBag.Customers) {
            <tr>
                <td>@c.Id</td>
                <td>@c.Password</td>
                <td>@c.FullName</td>
                <td>@c.Email</td>
                <td>@c.Address</td>
                <td>@c.Tel</td>
                <td>
                    <a href="/Admin/Customers/Details/@c.Id" title="Detail"><img src="/Content/img/icons/Search.png" /></a>
                    <a href="/Admin/Customers/Edit/@c.Id" title="Edit"><img src="/content/img/icons/Edit.png" /></a>
                    <a href="/Admin/Customers/Delete/@c.Id" title="Delete"><img src="/Content/img/icons/Trash.png" /></a>
                </td>
            </tr>
}
    </tbody>
</table>
