@using ShoppingComplex.Models


@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-responsive table-bordered" id="myTable">
    <thead>
    <tr>
        <td>Id</td>
        <td>Password</td>
        <td>CustomerName</td>
        <td>E-mail</td>
        <td>Address</td>
        <td>Tel.</td>
        <td></td>
    </tr>
    </thead>
    <tbody>
        @foreach (Customer c in ViewBag.Customers) {
            <tr>
                <td>@c.Id</td>
                <td>@c.Password</td>
                <td>@c.FullName</td>
                <td>@c.Email</td>
                <td>@c.Address</td>
                <td>@c.Tel</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = c.Id }, new { @class = "btn btn-warning" })
                    @Html.ActionLink("Delete", "Delete", new { id = c.Id }, new { @class = "btn btn-danger" })
                </td>
            </tr>
}
    </tbody>
</table>
