@model PagedList.IPagedList<Product>
@using PagedList.Mvc;

@{
    ViewBag.Title = "BestSeller";
}

<ol class="breadcrumb">
    <li>
        <a href="/Product/AllList">สินค้า</a>
    </li>
    <li class="active">
        สินค้าขายดี
    </li>
</ol>

@foreach (var p in Model)
{

    <div class="col-md-4">
        <div class="nn-box">
            <a href="/Product/Detail/@p.Id">
                <img id="i@(p.Id)" class="nn-box-image animated rollIn" src="/Content/img/products/@p.Image" />
            </a>
            <div class="nn-product-box-descriptions">
                <h3 class="nn-box-name">
                    <a href="/Product/Detail/@p.Id" title="@p.Name">@p.Name</a>
                </h3>
                <div class="nn-product-box-price">
                    <span class="">฿ @p.UnitPrice</span>
                </div>
                <div class="nn-product-box-actions">
                    <button type="button" class="btn btn-default add-to-cart" title="Add to Cart" data-id="@p.Id">
                        <span>Add to Cart</span>
                    </button>
                </div>
            </div>
            <img src="/content/img/Gif/icon-best-seller.png" class="nn-box-feature" />
        </div>
    </div>
}


<div class="pull-right">
    @Html.PagedListPager(Model, page => Url.Action("BestSeller", new { page, pageSize = Model.PageSize }))
    Showing @Model.FirstItemOnPage to @Model.LastItemOnPage of @Model.TotalItemCount Product
</div>





