@model IEnumerable<Category>
@{
    ViewBag.Title = "Product";

}

<div class="nn-home-banner hidden-xs">
    @Html.Partial("_Banner")
</div>
<!--end home banner-->

@foreach (var c in Model)
{
    var item = c.Products
            .OrderBy(p => Guid.NewGuid())
            .ToList()
            .Take(4);
    <div class="nn-block-margin-top30px">
        <div class="nn-cat-title">
            <p>

                <h2>@c.Name</h2>
            </p>
        </div>

        @foreach (var p in item)
        {
            <div>
                <div class="col-md-3">
                    <div class="nn-box">
                        <a href="/Product/Detail/@p.Id">
                            <img id="i@(p.Id)" class="nn-box-image" src="/Content/img/products/@p.Image" />
                        </a>
                        <div class="nn-product-box-descriptions">
                            <h3 class="nn-box-name">
                                <a href="/Product/Detail/@p.Id" title="@p.Name">@p.Name</a>
                            </h3>
                            <div class="nn-product-box-price ">
                                <span class="">฿ @p.UnitPrice</span>
                            </div>
                            <div class="nn-product-box-actions">
                                <button type="button" class="btn btn-default add-to-cart" title="Add to Cart" data-id="@p.Id">
                                    <span>Add to Cart</span>
                                </button>
                            </div>
                        </div>
                        @if (p.Special)
                        {
                            <img src="/Content/img/Gif/special_icon.gif" class="nn-box-feature" />
                        }
                        else if (p.Latest)
                        {
                            <img src="/content/img/Gif/icon-new.png" class="nn-box-feature" />
                        }

                        else if (p.Discount > 0)
                        {
                            <img src="/content/img/Gif/icon-onsale.png" class="nn-box-feature" />
                        }
                    </div>
                </div>

            </div>
        }
    </div>
    <div class="clearfix"></div>
}
