
@{
    ViewBag.Title = "Index";
}

<fieldset>
    <legend>Role Management</legend>
    <form class="form-inline">
        @using (Html.BeginForm())
        {
            <div class="form-group col-md-2">
                @Html.DropDownList("OldRoleName", null, new {@class = "form-control"})
                
            </div>
            <div class="form-group col-md-1">
                <input type="submit" value="Remove" class="btn btn-danger" onclick="form.action = '/Admin/Master/RemoveRole'" />
            </div>

            <div class="form-group col-md-2">
                @Html.TextBox("NewRoleName", null, new {@class = "form-control"})
            </div>
            <div class="form-group col-md-2">
                <input type="submit" value="Add" class="btn btn-success" onclick="form.action = '/Admin/Master/AddRole'"/>
            </div>
        }
    </form>
</fieldset>
<hr />

<fieldset>
    <legend>User Management</legend>
    @using (Html.BeginForm())
    {
        <div class="col-md-4">User Name
        @Html.TextBox("UserName", null, new { @class = "form-control" })
        </div>

        <div class="col-md-4">Password
        @Html.TextBox("Password", null, new { @class = "form-control" })
        </div>

        <div>Roles</div>
        foreach(var r in ViewBag.Roles){
            <label>
                <input type="checkbox" name="Roles" value="@r.Name" />
                @r.Name
            </label>
        }
        <hr />
        <input type="submit" value="Add" class="btn btn-info btn-block" onclick="form.action = '/Admin/Master/AddUser'" />
    }
    <hr />
    <table class="table table-bordered">
        <tr>
            <th>User Name</th>
            <th>Roles</th>
            <th></th>
        </tr>
        @foreach (ShoppingComplex.Models.ApplicationUser u in ViewBag.Users)
        {
            var roleIds = u.Roles.Select(ur => ur.RoleId).ToList();
            <tr>
                <td>@u.UserName</td>
                <td>
                    @foreach(var r in ViewBag.Roles){
                        var check = roleIds.Contains(r.Id) ? "checked" : "";
                    <label>
                        <input @check type="checkbox" name="Roles" 
                               value="@r.Name" data-userid="@u.UserName" />
                        @r.Name
                    </label>
                    }
                </td>
                <td>
                    <a href="/Admin/Master/RemoveUser?UserName=@u.UserName" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </table>
</fieldset>

@section scripts{
<script>
    $(function () {
        $(":checkbox[name=Roles]").click(function () {
            var roleName = $(this).val();
            var status = $(this).prop("checked");
            var userName = $(this).attr("data-userid");
            $.ajax({
                url: "/Admin/Master/UpdateRole",
                data: { Name: roleName, Status: status, UserName: userName },
                success: function (response) {
                    alert(response);
                }
            });
        });
    });
    </script>
}